.container{
  margin-top: 40px;
}
#get-info
{
  margin:20px 0;
}

 #community-image-display {
    width: 100%;
    max-width: 210px;
    height: 140px;
    object-fit: cover;
    background-color: #D1E5F9;
    display: none;
}

 #community-image{
 	visibility: hidden;
 } 